@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//db.onlinewebfonts.com/c/e5c490a944bc2b2746f0c851501e46c7?family=AvenirNextW10-Bold);
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background: url('../img/pic5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot");
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.svg#AvenirNextW10-Bold") format("svg");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.txg {
  color: #b8bcbf;
}


.font-4 {
  font-family: Inter, sans-serif;
}

.tr04 {
  transition: 0.4s;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  background-color: #101111;
  padding: 2rem;
  border-radius: 10px;
}

.fkrr1 {
  font-family: "Inter", sans-serif;
}

.bgprojects {
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 -1px 10px #00b099;
  box-shadow: 0 -1px 10px #00b099;
  display: block;
  height: 355px;
  -webkit-transition: background 5s;
  transition: background 5s;
  background-position: 0 0;
  transition-duration: 100ms;
}

.bgprojects:hover {
  animation: scroll 15s ease-in-out forwards;
}

.scrollwidth-4::-webkit-scrollbar {
  width: 6px;
}
.scrollwidth-4::-webkit-scrollbar-thumb {
  background-color: #fdbb04;
  border-radius: 4px;
}
.scrollwidth-4::-webkit-scrollbar-track {
  width: 4px;
  background-color: white;
  color: #fdbb04;
}

.scrollhide::-webkit-scrollbar {
  display: none;
}

.shadowp {
  border-radius: 8px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.swiper-button-next{
  width: 24px !important;
  height: 24px !important;
  right: 0px !important;
  overflow: hidden;
  color: white !important;
  z-index: 50 !important;
}
.swiper-button-next:active{
  --tw-translate-y:  2px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
  left: 0px !important;
  overflow: hidden;
  color: white !important;
  z-index: 50 !important;
}
.swiper-button-prev:active{
  --tw-translate-y:  2px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bg-conic-86{
  background: conic-gradient(blue 86%, white 0%);
}
.bg-conic-93{
  background: conic-gradient(blue 93.2%, white 0%);
}
.bg-conic-76{
  background: conic-gradient(blue 76%, white 0%);
}